<aside class="sidebar">
    <!-- Sidebar content (e.g., navigation links, user profile) -->
 
    <ul class="p-3">
      <li><a href="/profile">Profile</a></li>
      <li><a href="/applyleave?id=<%= user._id %>">Apply Leave</a></li>
      <li><a href="/status?id=<%= user._id %>">My Leave Status</a></li>
      <li><a href="/history?id=<%= user._id %>">History</a></li>
      
      <!-- Add more navigation links as needed -->
    </ul>
  </aside>