<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token"
        content="H880GdiUpo328hv6St3C0shbD3BID2T0IH_tmw8SVqt8mXd07-PHwoXCV8sA8LOnvR48GQVrUNlhPqrtbnQ7kg==">
    <!-- [if gte IE 9]
<style type="text/css">
.gradient { 
filter: none;
}
</style>
<![endif] -->


    <link rel="stylesheet" href="./styles__ltr7.css">
    <link rel="stylesheet" href="./default.css">

    <link type="text/css" rel="stylesheet"
        href="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css?rel=2023120101"
        media="screen" />
    <title>prsu</title>
    <link rel="shortcut icon" href="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/images/favicon/logo.png" />
</head>

<body class="frame__body ">
    <div class="c-mainBody" style="margin-left: 0px; width: 100%;">
        <header class="cg-header">
            <div class="cg-header__top">
                <div class="top-right">
                    <div class="c-sidebar__handler">
                        <div class="c-sidebar__handler-fonts"> <a id="btn-decrease" href="javascript:;"
                                class="font decrease"> - </a> <a id="btn-orig" href="javascript:;" class="font base"> A
                            </a> <a id="btn-increase" href="javascript:;" class="font increase"> + </a> </div>
                    </div>
                    <div class="languagearea">
                        <a href="/auth/login" class="link">Login</a>
                    </div>
                    <div class="languagearea">
                        <a href="javascript:;" class="link">English</a>
                    </div>

                </div>
            </div>
            <div class="cg-header__bottom" style="background-color: rgb(111, 0, 255);">
                <div class="cg-header__bottom-leftwrap">
                    <div class="logo">
                        <img src="http://www.prsuuniv.in/resources/assets/img/logo.png" alt="" width="80px"><span style="font-size: 30px; text-shadow: 5ch; font-family:Verdana, Geneva, Tahoma, sans-serif; color: blue;">PTRSU LEAVE EASY</span>
                        <a href="/">
                            <!-- <span>
                                <h4>Pt. Ravishankar Shukla University, Raipur</h4>
                                Chhattisgarh, India
                                NAAC Grade B++, Ranking by NIRF
                            </span> -->
                            <span >          
                                <h6> <div class="red" style="color: red; margin-right: 10px;">Pt. Ravishankar Shukla University, Raipur</div>
                                <div class="red" style="color: rgb(19, 9, 212);margin-right: 10px;">Chhattisgarh, India</div>
                                NAAC Grade B++, Ranking by NIRF</h6>
                              </span>
                            <!-- <img src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/cgpsc/images/logos/cgpsc-logo.png" alt="cgpsc Logo" class="u-img"> -->
                        </a>
                    </div>
                </div>
                <div class="cg-header__bottom-rightwrap">
                    <div class="rightlogowrap">
                        <div class="logo">
                            <!-- <img src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/cgpsc/images/logos/Digital_India_logo.png" alt="Digital India Logo" class="u-img"> -->
                        </div>
                        <div class="logo">
                            <!-- <img src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/cgpsc/images/logos/indian-government-logo.png" alt="indian government logo" class="u-img"> -->
                        </div>
                    </div>
                </div>
            </div>


        </header>
        <div class="cg-mainbody">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="cg-homebannerwrap" style="background-color: var(--grey8);">
                        <!-- photo -->
                        <img src="./photoprsu.jpg" alt="" class="u-img" style="height: 94%">
                       
                        <!-- <img src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/cgpsc/images/banner/cgpsc_new_building.jpg" -->
                            <!-- alt="" class="u-img" style="height: 94%" /> -->


                        <marquee behavior="scroll" direction="left" onmouseover="this.stop();"
                            onmouseout="this.start();" style="color: var(--blue7) !important">For queries related to
                            technical issues of this portal please contact on 9174857381</marquee>
                    </div>
                    <a href="/login">home</a>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="cg-loginsection">
                        <h2 class="cg-loginsection__head">Please Sign Your Account</h2>
                        <div class="c-form c-form-xs col1 u-fieldRadius3 u-fieldShadow u-fieldBorderClr1 u-fieldHeight50 ">
                            <div class="pt-2">
                            </div>



                            <form id="admin-login-form" class="widget__wrapper-searchFilter" action="/login"  
                                method="post" >
                                <input type="hidden" name="_csrf" value="">
                                <div class="form-grider design1">
                                    <div class="form-group field-loginform-username required">
                                        <div class='head-wrapper'>
                                            <div class='head-wrapper__title label-required'>
                                                <div class='head-wrapper__title-label fs14__medium'>Email Id</div>
                                            </div>
                                        </div>
                                        <div class='cop-form--container'>
                                            <input type="text" id="loginform-username"
                                                class="cop-form--container-field fs14__regular u-fieldHeight48"
                                                name="email" maxlength="50" autocomplete="off" autofocus
                                                placeholder="Enter Email Id" aria-required="true">

                                            <p class="help-block help-block-error"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-grider design1">
                                    <div class="form-group field-loginform-password required">
                                        <div class='head-wrapper'>
                                            <div class='head-wrapper__title label-required'>
                                                <div class='head-wrapper__title-label fs14__medium'>Password</div>
                                            </div>
                                        </div>
                                        <div class='cop-form--container'>
                                            <input type="password" id="loginform-password"
                                                class="cop-form--container-field fs14__regular u-fieldHeight48"
                                                name="password" maxlength="50" autocomplete="off" autofocus
                                                placeholder="Enter Password" aria-required="true">

                                            <p class="help-block help-block-error"></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-grider design1">
                                    <div class="form-group field-loginform-captcha">
                                        <input type="hidden" id="loginform-captcha" class="form-control"
                                            name="LoginForm[captcha]">
                                        <div id="loginform-captcha-recaptcha-admin-login-form" class="g-recaptcha"
                                            data-sitekey="6Lc96lkdAAAAAAZgcrM_CqsTNrk4HhCrt86_-X9j"
                                            data-input-id="loginform-captcha" data-form-id="admin-login-form">
                                        </div>

                                        <p class="help-block help-block-error"></p>
                                    </div>
                                </div> -->

                                <div
                                    class="c-form c-form-xs col2 u-fieldRadius8 u-fieldShadow u-fieldBorderClr2 cmt-20">
                                    <div class="form-grider design1">
                                        <div class="c-formSelectors design1 field-RememberMe">
                                            <input type="hidden" name="LoginForm[rememberMe]" value="0"><input
                                                type="checkbox" id="RememberMe" name="LoginForm[rememberMe]" value="1"
                                                checked hidefocus>
                                            <label for='RememberMe'>Remember Me</label>

                                            <p class="help-block help-block-error"></p>
                                        </div>
                                    </div>
                                    <div class="form-grider design1 text-right">
                                        <a class="pf-regular fs14 u-link grey"
                                            href="/auth/request-password-reset">Forgot Password</a><br />
                                        <a class="pf-regular fs14 u-link grey"
                                            href="/registration/basic-details">Register</a><br />
                                        <a class="pf-regular fs14 u-link grey" href="/auth/request-change-email">Change
                                            Email</a>
                                    </div>
                                </div>

                                <button type="submit"
                                    class="c-button c-button--primary blocked darkyellow u-pad10_30  baseText rounded"
                                    name="login-button">Login</button>

                                    <input type="submit" value="Login">  
                            </form>







                            <div class="u-flexed w100 mt-1 hide">
                                <button class="c-button c-button--primary blocked reddark u-pad10_30  baseText rounded">
                                    Register Here </button>
                            </div>
                        </div>


                        
                        <div class="cg-loginsection">
                            <div class="c-form c-form-xs col1 u-fieldRadius3 u-fieldShadow u-fieldBorderClr1 u-fieldHeight50 ">
                        <form id="admin-login-form" class="widget__wrapper-searchFilter" action="/login" method="post">
                            <h1>Login</h1>
                         
                          

                            <input type="email" name="email" class="cop-form--container-field fs14__regular u-fieldHeight48" required placeholder="Enter Email">
                            <br><br>
                            <input type="password" name="password" class="cop-form--container-field fs14__regular u-fieldHeight48" required placeholder="Password">
                            <br><br>
                            <input type="submit" class="c-button c-button--primary blocked darkyellow u-pad10_30  baseText rounded" value="Login">  
                          
                          
                            
                        </form>

                        <div class="other">
                            <a href="/admin">Admin Login</a>
                            <a href="/register">Register</a>
                            <a href="/verification">Verification</a>
                            <a href="/forget">Forget Password</a>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>


                <div class="row" style="margin:0px;">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="cg-homecontentwrap">
                            <h4 class="cg-homecontentwrap__head"> <span class="text">Guidelines For Employee's</span>
                            </h4>
                            <div class="cg-homecontentwrap__bodywrap withsize100">
                                <div class="slimScroll">
                                    <ul class="cg-listtext">
                                        <li class="cg-listtext__item"> <a class="link">How to apply online ?</a> </li>
                                        <li class="cg-listtext__item"> <a class="link">How to upload photo & signature
                                                ?</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cg-homecontentwrap">
                            <h4 class="cg-homecontentwrap__head"> <span class="text">Activity Section</span> </h4>
                            <div class="cg-homecontentwrap__bodywrap withsize247">
                                <div class="slimScroll">
                                    <ul class="cg-listtext">
                                        <!-- <li class="cg-listtext__item"> <a class="link blue" target="_blank" href="/static/cgpsc/cgpsc/pdf/hostel_2023.PDF?rel=2023052001">SUCHANA PATRA- HOSTEL SUPERINTENDENT GRADE-D (20-05-2023)</a></li> -->
                                        <!-- <li class="cg-listtext__item"> <a class="link blue" href="/auth/download-answer-sheet">Download CG Forest Answer Sheet And/Or Marks Sheet</a></li> -->
                                        <!-- <li class="cg-listtext__item"> No Activity </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-5">
                        <div class="cg-homecontentwrap">
                            <h4 class="cg-homecontentwrap__head"> <span class="text">Whats New</span> </h4>
                            <div class="cg-homecontentwrap__bodywrap withsize455">
                                <div class="slimScroll">
                                    <ul class="cg-whatsnew">
                                        <li class="cg-whatsnew__item">
                                            <a href="/registration/basic-details?guid=3953b322-7f97-11ee-a393-0242f7328348"
                                                class="link">
                                                <div class="datewrap">
                                                    <!-- <span class="date">01</span> -->
                                                    <!-- <span class="month">Dec</span> -->
                                                    <!-- <span class="year">2023</span> -->
                                                </div>
                                                <div class="text"> Notification</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-4">
                        <div class="cg-homecontentwrap">
                            <h4 class="cg-homecontentwrap__head"> <span class="text">Helpdesk for Employee's</span>
                            </h4>
                            <div class="cg-homecontentwrap__bodywrap withsize456">
                                <div class="cg-helpdesk">
                                    <p class="cg-helpdesk__text"> For queries related to technical issues of this portal
                                        only. </p>
                                    <ul class="contactlist">
                                        <li class="item"> <a href="javascript:;" class="link"> <i
                                                    class="fa fa-envelope landphone icon"></i> <span
                                                    class="text">csit@gamil.com</span> </a> </li>
                                        <li class="item"> <a href="javascript:;" class="link"> <i
                                                    class="fa fa-phone-square landphone icon"></i> <span
                                                    class="text">9174857381,</span> </a> </li>
                                    </ul>
                                    <!-- <p class="cg-helpdesk__content"> <span>(10:00 AM to 5:30 PM on all working days)</span> Candidates can visit nearby Common Services Centres (CSCs) to get the help in filling the application form and fee submission in assisted format. To find the nearest CSC. <a href="javascript:;" class="link">Click Here.</a></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Footer section start-->
        <footer class="c-footer hideInPrint">
            <div class="c-footer__top">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="c-footer__top-content">
                                <img src="http://www.prsuuniv.in/resources/assets/img/logo.png" alt="" width="50px">
                                <h3>Contact Us </h3>
                                | Pt. Ravishankar Shukla University,
                                Amanaka G.E.Road, Raipur Chhattisgarh (India) - 492010.|
                                <br> Mob No: 0771-2262540 <br>|
                                registrarprsu@gmail.com|
                                <br /> | Website Content Managed & Owned by Pt. Ravishankar Shukla University,Raipur
                                (C.G.) |
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="c-footer__bottom">

                <div class="right-logo">
                    <!-- image -->

                </div>
            </div>

        </footer>
        <!--<link type="text/css" rel="stylesheet" href="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/deploy/app.min.js?rel=2023120101" />-->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/jquery/jquery-3.1.1.min.js?rel=2023120101"
            crossorigin="anonymous"></script>
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/bootstrap/popper.min.js?rel=2023120101"
            crossorigin="anonymous"></script>
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/bootstrap/bootstrap.min.js?rel=2023120101"
            crossorigin="anonymous"></script>
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/bootstrap-datetimepicker/moment.js?rel=2023120101"></script>
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js?rel=2023120101"></script>
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/chosen-select/chosen.jquery.js?rel=2023120101"></script>
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/full-page/fullpage.js?rel=2023120101"></script>
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/owl-carousel/owl.carousel.min.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/bootstrap-notify-master/bootstrap-notify.min.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/dropzone/dropzone.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/bootbox/bootbox.min.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/handlebars-v4.0.5.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/js-cropper/jquery-cropper.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/cropper/dist/cropper.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/crypto-js/crypto-js.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/vendors/Sortable/Sortable.min.js"></script>
        <script src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/common.js?rel=2023120101"></script>
        <script
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/cgpsc/js/vendors/scroller/slimscroll.js"></script>
        <script src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/cgpsc/js/common.js"></script>

        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/yii.js?rel=2023120101"
            crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/yii.activeForm.js?rel=2023120101"
            crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/yii.gridView.js?rel=2023120101"
            crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/yii.validation.js?rel=2023120101"
            crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/jquery.pjax.js?rel=2023120101"
            crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/yii.captcha.js?rel=2023120101"
            crossorigin="anonymous"></script>

        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/uploadfile.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/auth.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/captcha.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/common.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/form-sanitization.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/function.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/validation.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/location.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/crop.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/common/general.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/registration/registrationv2.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/applicant-post/applicant-post.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/log-applicant/log-applicant.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/criteria/criteria.js?rel=2023120101"></script>
        <script type="text/javascript"
            src="https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc/js/dev/export/export.js?rel=2023120101"></script>
        <script type="text/javascript">
            var baseHttpPath = 'https://online.ecgpsconline.in';
            var staticPath = 'https://d2cnqcdokph1xq.cloudfront.net/static/cgpsc';
            var encriptionKey = '27kozQaXwGuNJ35t';
        </script>
 
   
 
 
</script>
        <script id="upload-media-template" type="text/x-handlebars-template">
    <div class="owl-item">
        <div class="item">
            <a href="javascript:;">
                <div class="overlay_icons">
                    <div class="close removeImage" data-id="{{id}}"  data-unqid="{{unqid}}"><i class="fa fa-close"></i></div>
                </div>
                <img src="{{media}}" alt="image" />
            </a>
        </div>
    </div>
</script>
        <script id="icon-upload-media-template" type="text/x-handlebars-template">
    <div class="uploads__image">
        {{#if image}}
            <img src="{{media}}" alt="image" />
        {{/if}}
        <div class="uploads__image-close removeImage" data-id="{{id}}" data-unqid="{{unqid}}"><i class="fa fa-close"></i></div>
        <div class="uploads__image-content">{{file}}</div>
    </div>
</script>
        <script src="//www.google.com/recaptcha/api.js?hl=en&amp;render=explicit&amp;onload=recaptchaOnloadCallback"
            async defer></script>
        <script>function recaptchaOnloadCallback() {
                "use strict";
                jQuery(".g-recaptcha").each(function () {
                    const reCaptcha = jQuery(this);
                    if (reCaptcha.data("recaptcha-client-id") === undefined) {
                        const recaptchaClientId = grecaptcha.render(reCaptcha.attr("id"), {
                            "callback": function (response) {
                                if (reCaptcha.data("form-id") !== "") {
                                    jQuery("#" + reCaptcha.data("input-id"), "#" + reCaptcha.data("form-id")).val(response)
                                        .trigger("change");
                                } else {
                                    jQuery("#" + reCaptcha.data("input-id")).val(response).trigger("change");
                                }

                                if (reCaptcha.attr("data-callback")) {
                                    eval("(" + reCaptcha.attr("data-callback") + ")(response)");
                                }
                            },
                            "expired-callback": function () {
                                if (reCaptcha.data("form-id") !== "") {
                                    jQuery("#" + reCaptcha.data("input-id"), "#" + reCaptcha.data("form-id")).val("");
                                } else {
                                    jQuery("#" + reCaptcha.data("input-id")).val("");
                                }

                                if (reCaptcha.attr("data-expired-callback")) {
                                    eval("(" + reCaptcha.attr("data-expired-callback") + ")()");
                                }
                            },
                        });
                        reCaptcha.data("recaptcha-client-id", recaptchaClientId);
                    }
                });
            }</script>
        <script>jQuery(function ($) {
                AuthController.authenticate()
                jQuery('#admin-login-form').yiiActiveForm([{ "id": "loginform-username", "name": "username", "container": ".field-loginform-username", "input": "#loginform-username", "error": ".help-block.help-block-error", "validate": function (attribute, value, messages, deferred, $form) { yii.validation.required(value, messages, { "message": "Email Id cannot be blank." }); yii.validation.email(value, messages, { "pattern": /^[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$/, "fullPattern": /^[^@]*<[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?>$/, "allowName": false, "message": "Email Id is not a valid email address.", "enableIDN": false, "skipOnEmpty": 1 }); yii.validation.string(value, messages, { "message": "Email Id must be a string.", "max": 50, "tooLong": "Email Id should contain at most 50 characters.", "skipOnEmpty": 1 }); } }, { "id": "loginform-password", "name": "password", "container": ".field-loginform-password", "input": "#loginform-password", "error": ".help-block.help-block-error", "validate": function (attribute, value, messages, deferred, $form) { yii.validation.required(value, messages, { "message": "Password cannot be blank." }); yii.validation.string(value, messages, { "message": "Password must be a string.", "max": 50, "tooLong": "Password should contain at most 50 characters.", "skipOnEmpty": 1 }); } }, {
                    "id": "loginform-captcha", "name": "captcha", "container": ".field-loginform-captcha", "input": "#loginform-captcha", "error": ".help-block.help-block-error", "validate": function (attribute, value, messages, deferred, $form) {
                        if (!value) {
                            messages.push("Please confirm that you are not a bot.");
                        }
                    }
                }, { "id": "RememberMe", "name": "rememberMe", "container": ".field-RememberMe", "input": "#RememberMe", "error": ".help-block.help-block-error", "validate": function (attribute, value, messages, deferred, $form) { yii.validation.boolean(value, messages, { "trueValue": "1", "falseValue": "0", "message": "Remember Me must be either \u00221\u0022 or \u00220\u0022.", "skipOnEmpty": 1 }); } }], []);
            });</script>
</body>

</html>